<div class="tejo-footer-social">
  <a href="https://instagram.com/tejoestudio" target="_blank" rel="noopener" aria-label="{{index.aria_follow_instagram}}">
    <img src="{{{base_path}}}images/icons/instagram.svg" alt="" aria-hidden="true">
  </a>
  <a href="https://www.threads.net/@tejoestudio" target="_blank" rel="noopener" aria-label="{{index.aria_follow_threads}}">
    <img src="{{{base_path}}}images/icons/threads.svg" alt="" aria-hidden="true">
  </a>
  <a href="https://bsky.app/profile/tejoestudio.bsky.social" target="_blank" rel="noopener" aria-label="{{index.aria_follow_bluesky}}">
    <img src="{{{base_path}}}images/icons/bluesky.svg" alt="" aria-hidden="true">
  </a>
  <a href="https://www.tiktok.com/@tejoestudio" target="_blank" rel="noopener" aria-label="{{index.aria_follow_tiktok}}">
    <img src="{{{base_path}}}images/icons/tiktok.svg" alt="" aria-hidden="true">
  </a>
  <a href="https://youtube.com/@tejoestudio" target="_blank" rel="noopener" aria-label="{{index.aria_visit_youtube}}">
    <img src="{{{base_path}}}images/icons/youtube.svg" alt="" aria-hidden="true">
  </a>
  <a href="https://x.com/tejoestudio" target="_blank" rel="noopener" aria-label="{{index.aria_follow_twitter}}">
    <img src="{{{base_path}}}images/icons/x.svg" alt="" aria-hidden="true">
  </a>
</div>
